@import url('vendor/pico.min.css');
@import url('includes/tom-select.css');
@import url('includes/navigation.css');
@import url('includes/buttons.css');
@import url('includes/notes.css');
@import url('includes/filters.css');
@import url('includes/stars.css');

.ol-results main,
.search main,
.status main,
.author-detail main {
  ul,
  ol {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 2rem;
  }

  li {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 150px;
    text-overflow: ellipsis;

    &:hover .actions {
      opacity: 1;
    }

    .title {
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 0.75rem;
      padding: 0.5rem 0;
    }

    img,
    .no-cover {
      width: 100%;
      border: 0.125rem solid rgb(0 0 0 / 20%);
      border-radius: 0.25rem;

      @media (prefers-color-scheme: dark) {
        border-color: rgb(255 255 255 / 20%);
      }
    }

    .no-cover {
      margin: 0;
      min-height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      opacity: 0;

      form {
        display: flex;
      }

      span.empty {
        padding: 0 0.5rem;

        &.right {
          padding-right: 0.75rem;
        }
      }
    }
  }
}

dialog .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  @media (min-width: 576px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.messages {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background: #70fcba; /* Jade 100 */

  @media (prefers-color-scheme: dark) {
    background: #00b478; /* Jade 350 */
  }

  ul {
    color: #005f3d; /* Jade 650 */
    margin: 0;

    @media (prefers-color-scheme: dark) {
      color: #042c1b; /* Jade 850 */
    }

    &:has(:only-child) {
      padding: 0;

      li {
        list-style: none;
        margin-bottom: 0;
      }
    }

    li {
      margin: 0;

      & + & {
        margin-top: 0.25rem;
      }
    }
  }
}

.finished-counts {
  display: flex;
  gap: 2rem;
  margin: 2rem 0 3rem;

  > div {
    padding: 0.25rem 1rem;
    border-radius: 0.3rem;
    background: rgb(0 0 0 / 10%);

    @media (prefers-color-scheme: dark) {
      background: rgb(255 255 255 / 10%);
    }
  }

  dt {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    opacity: 0.5;
  }

  dd {
    margin: 0;
    opacity: 0.75;
  }
}

main header:not(dialog header) {
  gap: 1rem;
  margin: 0 0 3rem;

  @media (min-width: 1024px) {
    &,
    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    form {
      gap: 0.25rem;
    }
  }

  a[role='button'],
  button {
    padding: 0.25rem 1rem;
  }

  .svg {
    padding: 1rem;
  }

  .inner {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &.actions-inline {
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-end;

    @media (min-width: 576px) {
      display: flex;
    }

    .status & {
      margin: 0 0 2rem;
    }

    h1,
    h2 {
      margin: 0;
    }

    .svg.add-item {
      padding: 0.75rem;
      margin-bottom: 0.25rem;
    }

    /* Filter toggle goodies */
    &:has(> div) {
      justify-content: space-between;
    }

    > div {
      display: flex;
      gap: 1rem;
      align-items: flex-end;
    }

    .filter-toggle {
      display: flex;
      align-items: flex-end;
      margin-right: 1rem;
      justify-content: flex-end;
      gap: 0.5rem;

      p {
        margin: 0;
      }
    }
  }

  /* Sub-headings like "Readings" */
  section & {
    margin: 0 0 1rem;
  }
}

fieldset > div + div {
  margin-top: 2rem;
}

fieldset > .checkbox,
fieldset > .radio {
  margin-top: 1rem;
}

.covers {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  margin: 0 0 2rem;

  img {
    border: 0.25rem solid rgb(0 0 0 / 20%);
    border-radius: 0.5rem;

    @media (prefers-color-scheme: dark) {
      border-color: rgb(255 255 255 / 20%);
    }
  }

  .another {
    margin: 0;
    min-width: 150px;
    min-height: 100px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .actions {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}

.no-cover {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 2rem 0;
  border: 0.25rem solid rgb(0 0 0 / 20%);
  border-radius: 0.5rem;
  padding: 1rem 1rem 2rem;

  @media (prefers-color-scheme: dark) {
    border-color: rgb(255 255 255 / 20%);
  }

  .book-detail & .book {
    height: 150px;
  }

  .add {
    height: 50px;
  }
}

.book .no-cover .book {
  height: 50px;
}

.book-detail {
  .covers {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    align-items: center;
    margin: 3rem 0;

    @media (min-width: 576px) {
      flex-direction: row;
      gap: 2rem;
      margin: 0 0 2rem;
    }
  }

  table td {
    white-space: nowrap;

    a.svg {
      display: flex;
    }
  }
}

.search-form {
  margin: 3rem 0;
}

hr {
  margin: 3rem 0;
}

.alpine [x-ignore] {
  display: none;
}

/* Don't show Alpine things until Alpine is ready */
[x-cloak] {
  display: none !important;
}

[aria-busy]::before {
  /* https://alpine-ajax.js.org/examples/loading/ */
  display: none !important;
}

#ajax-pagination {
  display: flex;
  gap: 1rem;
  align-items: center;

  p {
    opacity: 0.5;
    margin: 0;
  }
}

small {
  opacity: 0.5;
}
