@import url('vendor/pico.min.css');

nav ol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (min-width: 576px) {
    display: flex;
    gap: 1rem;
  }

  a {
    border-radius: 0;
    border-bottom: 2px solid transparent;
    white-space: nowrap;

    small {
      opacity: 0.5;
    }
  }

  .active a,
  a:hover {
    border-bottom: 2px solid var(--pico-primary-background);
    text-decoration: none;
  }
}

.status main {
  ul,
  ol {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  li {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
}

dialog .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.messages {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background: #70fcba; /* Jade 100 */

  @media (prefers-color-scheme: dark) {
    background: #00b478; /* Jade 350 */
  }

  ul {
    color: #005f3d; /* Jade 650 */
    margin: 0;

    @media (prefers-color-scheme: dark) {
      color: #042c1b; /* Jade 850 */
    }

    &:has(:only-child) {
      padding: 0;

      li {
        list-style: none;
      }
    }
  }
}

.finished-counts {
  display: flex;
  gap: 2rem;
  margin: 2rem 0 3rem;

  > div {
    padding: 0.25rem 1rem;
    border-radius: 0.3rem;
    background: rgb(0 0 0 / 10%);

    @media (prefers-color-scheme: dark) {
      background: rgb(255 255 255 / 10%);
    }
  }

  dt {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    opacity: 0.5;
  }

  dd {
    margin: 0;
    opacity: 0.75;
  }
}

button.link {
  background: none;
  border: none;
  color: var(--pico-primary);
  text-decoration: underline;
  cursor: pointer;
  padding: 0;

  &:hover {
    color: var(--pico-primary-hover);
  }
}
