@import url('vendor/pico.min.css');

nav ol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (min-width: 576px) {
    display: flex;
    gap: 1rem;
  }

  a {
    border-radius: 0;
    border-bottom: 2px solid transparent;
    white-space: nowrap;

    small {
      opacity: 0.5;
    }
  }

  .active a,
  a:hover {
    border-bottom: 2px solid var(--pico-muted-color);
    text-decoration: none;
  }
}
