@import 'includes/navigation.css';
@import 'includes/filters.css';
@import 'includes/notes.css';
@import 'includes/stars.css';
@import 'includes/buttons.css';

@layer tw-base, pw-base, tw-components, pw-components, tw-utilities, pw-utilities;

@layer tw-base {
  @tailwind base;
}

@layer tw-components {
  @tailwind components;
}

@layer tw-utilities {
  @tailwind utilities;
}

@layer pw-base {
  h1 {
    font-size: theme('fontSize.2xl');
    font-weight: theme('fontWeight.bold');
    line-height: theme('spacing.7');

    @media (min-width: theme('screens.sm')) {
      font-size: theme('fontSize.3xl');
    }
  }

  small,
  .subdued {
    color: theme('colors.gray.400');

    @media (prefers-color-scheme: dark) {
      color: theme('colors.indigo.500');
    }
  }
}

@layer pw-components {
  .finished-counts {
    display: flex;
    gap: 2rem;
    margin: 2rem 0 3rem;

    > div {
      padding: 0.25rem 1rem;
      border-radius: 0.3rem;
      background: rgb(0 0 0 / 10%);

      @media (prefers-color-scheme: dark) {
        background: rgb(255 255 255 / 10%);
      }
    }

    dt {
      font-size: 1.5rem;
      font-weight: bold;
      font-style: italic;
      opacity: 0.5;
    }

    dd {
      margin: 0;
      opacity: 0.75;
    }
  }
}

@layer pw-utilities {
  .alpine [x-ignore] {
    display: none;
  }

  /* Don't show Alpine things until Alpine is ready */
  [x-cloak] {
    background: tomato;
    display: none !important;
  }
}
