button.link {
  background: none;
  border: none;
  color: var(--pico-primary);
  cursor: pointer;
  padding: 0;

  &:hover {
    color: var(--pico-primary-hover);
    text-decoration: underline;
  }
}

a.svg,
button.svg {
  font-size: 0;
  padding: 0.75rem;
  background-color: var(--pico-primary);

  &:hover {
    background-color: var(--pico-primary-hover);
  }

  &.log-out {
    /* https://remixicon.com/icon/shut-down-line */
    mask: 0 0
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M6.26489 3.80698L7.41191 5.44558C5.34875 6.89247 4 9.28873 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 9.28873 18.6512 6.89247 16.5881 5.44558L17.7351 3.80698C20.3141 5.61559 22 8.61091 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 8.61091 3.68594 5.61559 6.26489 3.80698ZM11 12V2H13V12H11Z'%3E%3C/path%3E%3C/svg%3E")
      no-repeat;

    background-color: rgb(0 0 0 / 25%);

    &:hover {
      background-color: rgb(0 0 0 / 50%);
    }

    @media (prefers-color-scheme: dark) {
      background-color: rgb(255 255 255 / 25%);

      &:hover {
        background-color: rgb(255 255 255 / 50%);
      }
    }
  }

  &.edit {
    /* https://remixicon.com/icon/pencil-line */
    mask: 0 0
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M15.7279 9.57627L14.3137 8.16206L5 17.4758V18.89H6.41421L15.7279 9.57627ZM17.1421 8.16206L18.5563 6.74785L17.1421 5.33363L15.7279 6.74785L17.1421 8.16206ZM7.24264 20.89H3V16.6473L16.435 3.21231C16.8256 2.82179 17.4587 2.82179 17.8492 3.21231L20.6777 6.04074C21.0682 6.43126 21.0682 7.06443 20.6777 7.45495L7.24264 20.89Z'%3E%3C/path%3E%3C/svg%3E")
      no-repeat;
  }

  &.delete {
    /* https://remixicon.com/icon/delete-bin-6-line */
    mask: 0 0
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M7 4V2H17V4H22V6H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V6H2V4H7ZM6 6V20H18V6H6ZM9 9H11V17H9V9ZM13 9H15V17H13V9Z'%3E%3C/path%3E%3C/svg%3E")
      no-repeat;
  }

  &.previous-status {
    /* https://remixicon.com/icon/skip-left-line */
    mask: 0 0
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M13.9142 12L18.7071 16.7929L17.2929 18.2071L11.0858 12L17.2929 5.79291L18.7071 7.20712L13.9142 12ZM7 6.00002L7 18H5L5 6.00002L7 6.00002Z'%3E%3C/path%3E%3C/svg%3E")
      no-repeat;
  }

  &.next-status {
    /* https://remixicon.com/icon/skip-right-line */
    mask: 0 0
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M10.0858 12L5.29291 16.7929L6.70712 18.2071L12.9142 12L6.70712 5.79291L5.29291 7.20712L10.0858 12ZM17 6.00002L17 18H15L15 6.00002L17 6.00002Z'%3E%3C/path%3E%3C/svg%3E")
      no-repeat;
  }

  &.adjust-status {
    padding: 0.6rem;
    /* https://remixicon.com/icon/settings-6-line */
    mask: 0 0
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M17.5 2.47363L23 11.9999L17.5 21.5262H6.5L1 11.9999L6.5 2.47363H17.5ZM16.3453 4.47363H7.6547L3.3094 11.9999L7.6547 19.5262H16.3453L20.6906 11.9999L16.3453 4.47363ZM8.63398 8.16979L10.366 7.16979L15.366 15.83L13.634 16.83L8.63398 8.16979Z'%3E%3C/path%3E%3C/svg%3E")
      no-repeat;
  }

  &.add-cover {
    padding: 1.5rem;
    /* https://remixicon.com/icon/add-circle-line */
    mask: 0 0
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M11 11V7H13V11H17V13H13V17H11V13H7V11H11ZM12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20Z'%3E%3C/path%3E%3C/svg%3E")
      no-repeat;
  }
}
