.filters {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  dt {
    display: inline-block;
    background: rgb(0 0 0 / 30%);

    color: white;
    font-size: 0.6rem;
    text-transform: uppercase;
    padding: 0.25rem 0.5rem;

    @media (prefers-color-scheme: dark) {
      background: rgb(255 255 255 / 20%);
    }
  }

  dd {
    border-top: 1px solid rgb(0 0 0 / 30%);
    margin: 0;
    padding-top: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;

    @media (prefers-color-scheme: dark) {
      border-top: 1px solid rgb(255 255 255 / 20%);
    }
  }

  .format-field {
    display: flex;
    align-items: center;
  }

  input[type='radio'] {
    display: none;
  }

  label {
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    color: var(--pico-primary-background);
    border: 1px solid var(--pico-primary-background);

    .selected &.parent {
      background-color: black;
      color: white;
      border-color: white;

      @media (prefers-color-scheme: dark) {
        background-color: white;
        color: black;
        border-color: black;
      }
    }
  }

  label:has(input[type='radio']:checked) {
    background-color: var(--pico-primary-background);
    color: white;
  }

  label:hover {
    background-color: var(--pico-primary-background);
    color: white;
  }
}
