.filters {
  display: flex;
  flex-direction: column;

  .format-field {
    display: flex;
    align-items: center;
  }

  input[type='radio'] {
    display: none;
  }

  label {
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    color: var(--pico-primary-background);
    border: 1px solid var(--pico-primary-background);
  }

  input[type='radio']:checked + label {
    background-color: var(--pico-primary-background);
    color: white;
  }

  label:hover {
    background-color: var(--pico-primary-background);
    color: white;
  }
}
