.logbook {
  article .change-body {
    display: flex;
    gap: 1rem;

    img {
      width: 50px;
    }

    .change-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .title {
      font-weight: 600;
    }
  }
}
