.book-detail {
  .covers {
    display: flex;
    flex-flow: column wrap;
    gap: theme(spacing.4);
    align-items: center;
    margin: theme(spacing.12) 0;

    @media (min-width: 576px) {
      flex-direction: row;
      gap: theme(spacing.8);
      margin: 0 0 theme(spacing.8);
    }

    img {
      max-width: 300px;
    }
  }

  table td {
    white-space: nowrap;

    a.svg {
      display: flex;
    }
  }
}
