.notes {
  form {
    margin-bottom: 2rem;
  }
}

.note {
  .content {
    margin-top: 0.5rem;
    background: rgb(0 0 0 / 5%);
    padding: 1rem;
    border-radius: var(--pico-border-radius);

    @media (prefers-color-scheme: dark) {
      background: rgb(255 255 255 / 5%);
    }

    hr,
    blockquote {
      border-color: rgb(0 0 0 / 10%);

      @media (prefers-color-scheme: dark) {
        border-color: rgb(255 255 255 / 10%);
      }
    }

    hr {
      margin: var(--pico-typography-spacing-vertical) 0;
    }

    blockquote {
      &:first-child {
        margin-top: 0;
      }

      p {
        margin-bottom: 0;

        & + & {
          margin-top: var(--pico-typography-spacing-vertical);
        }
      }
    }
  }

  :last-child {
    margin-bottom: 0;
  }

  &:target .content {
    animation: highlight 1.5s;

    > *,
    a {
      animation: black-text 1.5s;
    }
  }
}

.note + .note {
  margin-top: 2rem;
}

.note-edit #id_text {
  min-height: 20ch;
}

td.note .content {
  margin-top: 0;
  white-space: pre-wrap;
}

@keyframes highlight {
  50% {
    background: goldenrod;
    animation-timing-function: ease-in-out;
  }
}

@keyframes black-text {
  50% {
    color: black;
    text-decoration-color: black;
    animation-timing-function: ease-in-out;
  }
}
