.notes {
  form {
    margin-bottom: 2rem;
  }
}

.note {
  .content {
    margin-top: 0.5rem;
    background: rgb(0 0 0 / 5%);
    padding: 1rem;
    border-radius: var(--pico-border-radius);

    @media (prefers-color-scheme: dark) {
      background: rgb(255 255 255 / 5%);
    }

    hr,
    blockquote {
      border-color: rgb(0 0 0 / 10%);

      @media (prefers-color-scheme: dark) {
        border-color: rgb(255 255 255 / 10%);
      }
    }

    hr {
      margin: var(--pico-typography-spacing-vertical) 0;
    }

    blockquote {
      &:first-child {
        margin-top: 0;
      }

      p {
        margin-bottom: 0;

        & + & {
          margin-top: var(--pico-typography-spacing-vertical);
        }
      }
    }
  }

  :last-child {
    margin-bottom: 0;
  }
}

.note + .note {
  margin-top: 2rem;
}

.note-edit #id_text {
  min-height: 20ch;
}
