main header:not(dialog header, article header) {
  gap: 1rem;
  margin: 0 0 3rem;

  @media (min-width: 1024px) {
    &,
    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    dialog form {
      display: block;
    }

    form {
      gap: 0.25rem;
    }
  }

  a[role='button'],
  button {
    padding: 0.25rem 1rem;
  }

  .svg {
    padding: 1rem;
  }

  .inner {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &.actions-inline {
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-end;

    @media (min-width: 576px) {
      display: flex;
    }

    form {
      margin-top: 1rem;

      @media (min-width: 576px) {
        margin-top: 0;
      }
    }

    .status & {
      margin: 0 0 2rem;
    }

    h1,
    h2 {
      margin: 0;
    }

    .svg.add-item {
      padding: 0.75rem;
    }

    /* Filter toggle goodies */
    &:has(> div) {
      justify-content: space-between;
    }

    > div {
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    .filter-toggle {
      display: flex;
      align-items: flex-end;
      margin-right: 1rem;
      justify-content: flex-end;
      gap: 0.5rem;

      p {
        margin: 0;
      }
    }
  }

  /* Sub-headings like "Readings" */
  section & {
    margin: 0 0 1rem;
  }
}
