{% extends "base.html" %}
{% load markdown_extras %}

{% block title %}
  {{ author }}
{% endblock title %}

{% block body_tag %}class="author-detail"{% endblock body_tag %}

{% block content %}
  <header class="actions">
    <h1>{{ author }}</h1>
    <form action="{% url 'author_delete' author.pk %}" method="post">
      {% csrf_token %}
      <div class="inner">
        <div class="faux-form"><a class="svg edit" href="{% url 'author_update' author.pk %}">Edit</a></div>
        <div class="faux-form"><button class="svg delete" onclick="return confirm('Are you sure you want to delete this author?')">Delete</button></div>
      </div>
    </form>
  </header>

  <article class="description">{{ author.bio|markdown }}</article>

  <ul>
    {% for book in books %}
      <li class="book">
        <div class="cover">
          <a href="{{ book.get_absolute_url }}">
            {% if book.covers.all %}
              {% with book.covers.all|first as cover %}
                <img src="{{ cover.thumbnail.url }}"
                  alt="{{ cover }}"
                  height="auto"
                  width="150"
                  title="{{ book }}">
              {% endwith %}
            {% endif %}
          </a>
        </div>
        <div class="title" title="{{ book }}">{{ book }}</div>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
