{% extends "base.html" %}
{% load markdown_extras %}

{% block title %}
  {{ author }}
{% endblock title %}

{% block body_tag %}class="author-detail"{% endblock body_tag %}

{% block content %}
  <header class="actions-inline">
    <h1>{{ author }}</h1>
    {% if user.is_superuser %}
      <a href="{% url 'admin:core_author_change' author.id %}">Edit</a>
    {% endif %}
  </header>

  <div class="author-bio">
    {{ author.bio|markdown }}
  </div>

  <ul>
    {% for book in books %}
      <li class="book">
        <a href="{{ book.get_absolute_url }}">
          {% if book.covers.all %}
            {% with book.covers.all|first as cover %}
              <img src="{{ cover.thumbnail.url }}"
                alt="{{ cover }}"
                height="{{ cover.thumbnail.height }}"
                width="{{ cover.thumbnail.width }}"
                title="{{ book }}">
            {% endwith %}
          {% endif %}
        </a>
        <div class="title" title="{{ book }}">{{ book }}</div>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
