{% load static django_htmx %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Keep track of what you are reading, what you want to read, and what you've finished (or not!)">
    <link rel="apple-touch-icon" sizes="300x300" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for the Changelog" href="{% url 'changelog_feed' %}">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="rgba(1, 170, 255)">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="rgb(19, 23, 31)">
    {% url 'index' as index_url %}
    {% url 'book_new' as book_new_url %}
    <title>{% block title %}{% endblock title %}{% if request.path != index_url %} / {% endif %}Book Stacks</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script defer src="{% static 'js/vendor/htmx.min.js' %}"></script>
    <script defer src="{% static 'js/vendor/htmx-alpine-morph.min.js' %}"></script>
    <script defer src="{% static 'js/vendor/alpinejs-sort.min.js' %}"></script>
    <script defer src="{% static 'js/vendor/alpinejs-morph.min.js' %}"></script>
    <script defer src="{% static 'js/vendor/alpinejs.min.js' %}"></script>
    {% block head_src %}{% endblock head_src %}
  </head>

  <body {% block body_tag %}{% endblock body_tag %}
    {% if request.path != book_new_url and user.is_authenticated %}
      x-data="{
        close() {
          $refs.addBook.close();
        },
        closeFromEvent(event) {
          if (event.currentTarget === event.target) {
            $refs.addBook.close();
          }
        },
      }"
    {% endif %}
  >
    <header class="container">
      {% if user.is_authenticated %}
        <nav class="main">
          <ul>
            <li>
              <div class="faux-form"><a class="svg stack" href="{% block stack_link %}{% url 'status' 'reading' %}{% endblock stack_link %}">Stacks</a></div>
            </li>
          </ul>

          <div class="desktop-search">
            {% include "components/search-form.html" %}
          </div>

          <ul>
            {% if user.is_superuser %}
              <li>
                <div class="faux-form">
                  <a class="svg admin" href="{% url 'admin:index' %}">Admin</a>
                </div>
              </li>
            {% endif %}

            {% url "logbook" as logbook_url %}
            <li{% if request.path == logbook_url %} class="active"{% endif %}>
              <div class="faux-form">
                <a{% if request.path == logbook_url %} aria-current="page"{% endif %} class="svg logbook" href="{% url 'logbook' %}"></a>
              </div>
            </li>

            {% url "series_list" as series_url %}
            <li{% if request.path == series_url %} class="active"{% endif %}>
              <div class="faux-form">
                <a{% if request.path == series_url %} aria-current="page"{% endif %} class="svg series" href="{% url 'series_list' %}">Series</a>
              </div>
            </li>
            {% url 'import_books' as import_url %}
            <li{% if request.path == import_url %} class="active"{% endif %}>
              <div class="faux-form"><a{% if request.path == import_url %} aria-current="page"{% endif %} class="svg import" href="{% url 'import_books' %}">Import</a></div>
            </li>
            {% url "changelog" as changelog_url %}
            <li{% if request.path == changelog_url %} class="active"{% endif %}>
              <div class="faux-form">
                <a{% if request.path == changelog_url %} aria-current="page"{% endif %} class="svg newspaper" href="{% url 'changelog' %}">Changelog</a>
                <div class="badge changelog-badge hidden"></div>
              </div>
            </li>
            {% url 'settings' as settings_url %}
            <li{% if request.path == settings_url %} class="active"{% endif %}>
              <div class="faux-form"><a{% if request.path == settings_url %} aria-current="page"{% endif %} class="svg settings" href="{% url 'settings' %}">Settings</a></div>
            </li>
            <li class="log-out">
              <form method="post" action="{% url 'logout' %}" onsubmit="return confirm('Do you want to log out?')">
                {% csrf_token %}
                <button class="svg log-out">
                  Log out
                </button>
            </form>
            </li>
          </ul>
        </nav>

        <div class="mobile-search">
          {% include "components/search-form.html" %}
        </div>
      {% endif %}
      {% block header %}
      {% endblock header %}

      {% if messages and 'status' not in request.path %}
        {% include "components/messages.html" %}
      {% endif %}
      <div class="offline messages">
        <ul>
          <li class="error">You’re offline! Some things are not going to work, but you should still be able to browse your books.</li>
        </ul>
      </div>
    </header>
    <main class="container">
      {% block content %}
      {% endblock content %}

      {% if request.path != book_new_url and user.is_authenticated %}
        <div class="persistent-add">
          <a class="svg add-item-solid" href="{% url 'book_new' %}" @click.prevent="$refs.addBook.showModal()">Add a book</a>
          {% include "components/add-book-modal.html" %}
        </div>
      {% endif %}
    </main>
    <footer class="container">
      {% block footer %}
      {% endblock footer %}

      <div class="support">
        <div class="faux-form ko-fi" data-tooltip="Support Book Stacks on Ko-fi" data-placement="right">
          <a class="svg heart-pulse" target="_blank" href="https://ko-fi.com/piepworks">💚</a>
        </div>
        {% if user.is_authenticated %}
          <div class="faux-form" data-tooltip="Give feedback" data-placement="right">
            <a class="svg megaphone" data-canny-link href="https://piepworks.canny.io/bookstacks" title="Give feedback">
              Give feedback
            </a>
          </div>
        {% endif %}
      </div>

      <div class="copyright">Copyright © {% now "Y" %} <a href="https://piep.works">Piepworks LLC</a>. All rights reserved.</div>
    </footer>

    {% if not debug %}
      <script>{% include "js/sw-setup.js" %}</script>
    {% endif %}

    {% if user.is_authenticated %}
      <script>
        {% include "js/main.js" %}
      </script>

      {% if not debug %}
        <!-- Download Canny SDK -->
        <script>!function(w,d,i,s){function l(){if(!d.getElementById(i)){var f=d.getElementsByTagName(s)[0],e=d.createElement(s);e.type="text/javascript",e.async=!0,e.src="https://canny.io/sdk.js",f.parentNode.insertBefore(e,f)}}if("function"!=typeof w.Canny){var c=function(){c.q.push(arguments)};c.q=[],w.Canny=c,"complete"===d.readyState?l():w.attachEvent?w.attachEvent("onload",l):w.addEventListener("load",l,!1)}}(window,document,"canny-jssdk","script");</script>

        <!-- Use the Canny SDK to identify the current user of your website -->
        <script>
        Canny('identify', {
          appID: '6484a6e445e95c0961e5e44e',
          user: {
            email: '{{ user.email }}',
            name: '{{ user.email }}'.split('@')[0],
            id: '{{ user.id }}',
            customFields: {
              url: '{{ request.build_absolute_uri }}',
            }
          },
        });
        </script>
      {% endif %}
    {% endif %}

    {% django_htmx_script %}
    {% block page_js %}{% endblock page_js %}
  </body>
</html>
