{% load static django_htmx %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A very interesting website.">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script defer src="{% static 'js/vendor/htmx-1.9.12.min.js' %}"></script>
    <script defer src="{% static 'js/vendor/htmx-1.9.12-alpine-morph.js' %}"></script>
    <script defer src="{% static 'js/vendor/alpinejs-morph-3.13.10.min.js' %}"></script>
    <script defer src="{% static 'js/vendor/alpinejs-3.13.8.min.js' %}"></script>
    {% block head_src %}{% endblock head_src %}
  </head>
  <body {% block body_tag %}{% endblock body_tag %}>
    <header class="container">
      {% if user.is_authenticated %}
        <nav class="settings flex justify-between py-10">
          <ul>
            <li><a class="svg stack" href="{% block stack_link %}{% url 'status' 'reading' %}{% endblock stack_link %}">Stacks</a></li>
          </ul>
          <ul class="flex space-x-3">
            {% if user.is_superuser %}
              <li><a class="svg admin" href="{% url 'admin:index' %}">Admin</a></li>
            {% endif %}
            {% url 'settings' as settings_url %}
            <li{% if request.path == settings_url %} class="active"{% endif %}>
              <a{% if request.path == settings_url %} aria-current="page"{% endif %} class="svg settings" href="{% url 'settings' %}">Settings</a>
            </li>
            <li>
              <form method="post" action="{% url 'logout' %}" onsubmit="return confirm('Do you want to log out?')">
                {% csrf_token %}
                <button class="svg log-out">
                  Log out
                </button>
            </form>
            </li>
          </ul>
        </nav>
      {% endif %}
      {% block header %}
      {% endblock header %}

      {% if messages %}
        <div class="messages">
          <ul>
            {% for message in messages %}
              <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </header>
    <main class="container">
      {% block content %}
      {% endblock content %}
    </main>
    <footer class="container">
      {% if user.is_authenticated and not debug %}
        <p>
          <a data-canny-link href="https://piepworks.canny.io/bookstacks">
            Give feedback
          </a>
        </p>
      {% endif %}

      {% block footer %}
      {% endblock footer %}
    </footer>

    {% django_htmx_script %}
    {% block page_js %}{% endblock page_js %}
    {% if user.is_authenticated and not debug %}
      <!-- Download Canny SDK -->
      <script>!function(w,d,i,s){function l(){if(!d.getElementById(i)){var f=d.getElementsByTagName(s)[0],e=d.createElement(s);e.type="text/javascript",e.async=!0,e.src="https://canny.io/sdk.js",f.parentNode.insertBefore(e,f)}}if("function"!=typeof w.Canny){var c=function(){c.q.push(arguments)};c.q=[],w.Canny=c,"complete"===d.readyState?l():w.attachEvent?w.attachEvent("onload",l):w.addEventListener("load",l,!1)}}(window,document,"canny-jssdk","script");</script>

      <!-- Use the Canny SDK to identify the current user of your website -->
      <script>
      Canny('identify', {
        appID: '6484a6e445e95c0961e5e44e',
        user: {
          email: '{{ user.email }}',
          name: '{{ user.email }}'.split('@')[0],
          id: '{{ user.id }}',
          customFields: {
            url: '{{ request.build_absolute_uri }}',
          }
        },
      });
      </script>
    {% endif %}
  </body>
</html>
