{% extends "base.html" %}

{% block title %}
    {% if action == 'new' %}
    Add a new book
    {% else %}
    Editing {{ book }}
    {% endif %}
{% endblock title %}

{% block body_tag %}class="form-page"{% endblock body_tag %}

{% block content %}
  <h1>
    {% if action == 'new' %}
    Add a new book
    {% else %}
    Editing <u>{{ book }}</u>
    {% endif %}
  </h1>

  <section>
    COVERS
  </section>

  <form method="post">
    {% csrf_token %}
    <fieldset>
      {% for field in form %}
        <div{% if field.name == "on_hand" %} class="checkbox"{% endif %}>
          {{ field.errors }}
          {% if field.name == "on_hand" %}
            <label>
              {{ field }}
              {{ field.label }}
            </label>
          {% else %}
            <label>
              {{ field.label }}
              {% if field.name == 'author' %}
                <a href="{% url 'admin:core_author_add' %}" onclick="event.preventDefault(); document.querySelector('#author-new').showModal(); document.querySelector('#new-author-name').focus();">add another</a>
              {% endif %}
              {{ field }}
            </label>
          {% endif %}
        </div>
      {% endfor %}

      <input type="submit" value="Save">
    </fieldset>
  </form>
  {% include "components/author-new.html" %}
{% endblock content %}

{% block page_js %}
<script>
  new TomSelect('#id_author', {
    onItemAdd: function(author_id) {
      // Append the author to the querystring
      // so that the new author is added to the list
      // in the format `&author=1&author=2`
      var url = new URL(window.location.href);
      url.searchParams.append('new_author', author_id);
      // Apply the querystring without (reloading the page and?)
      // making scroll position jump
      var stateObj = { url: url.search };
      history.replaceState(stateObj, "", url.search);
    },
  });
</script>
{% endblock page_js %}
