{% extends "base.html" %}

{% block title %}Edit {{ book }}{% endblock title %}

{% block body_tag %}class="form-page"{% endblock body_tag %}

{% block content %}
  <h1>Editing <u>{{ book }}</u></h1>

  <form method="post">
    {% csrf_token %}
    <fieldset>
      {% for field in form %}
        <div{% if field.name == "on_hand" %} class="checkbox"{% endif %}>
          {{ field.errors }}
          {% if field.name == "on_hand" %}
            <label>
              {{ field }}
              {{ field.label }}
            </label>
          {% else %}
            <label>
              {{ field.label }}
              {% if field.name == 'author' %}
                <a href="#add">add another</a>
              {% endif %}
              {{ field }}
            </label>
          {% endif %}
        </div>
      {% endfor %}

      <input type="submit" value="Save">
    </fieldset>
  </form>

{% endblock content %}

{% block page_js %}
<script>
  let settings = {};
  new TomSelect('#id_author', settings);
</script>
{% endblock page_js %}
