{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if action == 'new' %}
    Add a new book
    {% else %}
    Editing {{ book }}
    {% endif %}
{% endblock title %}

{% block head_src %}
  <link href="{% static 'css/vendor/tom-select.css' %}" rel="stylesheet">
  <script src="{% static 'js/vendor/tom-select.complete.min.js' %}"></script>
{% endblock head_src %}

{% block body_tag %}class="form-page"{% endblock body_tag %}

{% block stack_link %}{% if action != 'new' %}{% url 'status' book.status %}{% else %}{{ block.super }}{% endif %}{% endblock stack_link %}

{% block content %}
  <header>
    <h1>
      {% if action == 'new' %}
        Add a new book
      {% else %}
        Editing <a href="{% url 'book_detail' book.slug %}">{{ book }}</a>
      {% endif %}
    </h1>
  </header>

  {% if action == 'new' and cover != '' %}
    <section class="covers">
      <div>
        <img width="200"
            height="auto"
            alt="New cover"
            src="{{ cover }}">
      </div>
    </section>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <fieldset>
      {% if cover != '' %}
        <input type="hidden" name="cover" value="{{ cover }}">
      {% endif %}
      <input type="hidden" name="olid"{% if olid != '' %} value="{{ olid }}"{% endif %}>
      {% for field in form %}
        <div>
          <label>
            {{ field.as_field_group }}
          </label>
        </div>
      {% endfor %}
    </fieldset>
    <button type="submit">Save</button>
  </form>
  {% include "components/author-new.html" %}
{% endblock content %}

{% block page_js %}
<script>
  new TomSelect('#id_format', {
    plugins: {
      remove_button:{
        title:'Remove this item',
      }
    },
  });

  new TomSelect('#id_location', {
    plugins: {
      remove_button:{
        title:'Remove this item',
      }
    },
  });

  new TomSelect('#id_author', {
    create: function(input, callback) {
      // Get CSRF token
      const csrftoken = document.cookie.split('; ').find(row => row.startsWith('csrftoken')).split('=')[1];

      // Gather necessary data
      const authorData = {
        name: input, // assuming the input is the author's name
        // add other necessary data
      };

      // Send POST request
      fetch("{% url 'author_new' %}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrftoken,
        },
        body: JSON.stringify(authorData),
      })
        .then((response) => {
          if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
          }
          return response.json();
        })
        .then((data) => {
          // Call the callback function with the new option
          callback({
            value: data.id,
            text: input
          });
        })
        .catch((error) => {
          console.error('There has been a problem with your fetch operation:', error);
        });
    },
    createOnBlur: true,
    plugins: {
      remove_button:{
        title:'Remove this item',
      }
    },
  });
</script>
{% endblock page_js %}
