{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ book }}
{% endblock title %}

{% block content %}
  <h1>{{ book }}</h1>

  <ul>
    <li><a href="{% url 'book_update' book.id %}">Edit</a></li>
    <li>
      <form onclick="return confirm('Are you sure?')" action="{% url 'book_delete' book.id %}" method="post">
        {% csrf_token %}
        <button class="link">Delete</button>
      </form>
    </li>
  </ul>

  <div>
    {% for cover in book.covers.all %}
      <img width="300"
           height="auto"
           alt="{{ cover }}"
           src="{{ cover.image.url }}">
    {% endfor %}
  </div>

  <div>
    <p>Authors:</p>
    <ul>
      {% for author in book.author.all %}<li>{{ author }}</li>{% endfor %}
    </ul>
    <p>Published Year: {{ book.published_year }}</p>
    <p>Status: {{ book.status }}</p>
    <p>On Hand: {{ book.on_hand }}</p>
  </div>
{% endblock content %}
