{% extends "base.html" %}

{% block title %}Changelog{% endblock title %}

{% block content %}
  <header>
    <h1>Changelog</h1>
  </header>

  {% if entries %}
    {% for entry in entries %}
      <article>
        <header>{{ entry.date }}</header>
        <div>{{ entry.summary }}</div>
      </article>
    {% endfor %}
  {% endif %}

  <hr>

  <p><a href="{% url 'changelog_feed' %}">Subscribe via RSS</a></p>
{% endblock content %}

{% block page_js %}
  <script>
    localStorage.setItem('changelogId', '{{ entries.0.id }}');
  </script>
{% endblock page_js %}
