{% extends "base.html" %}

{% block title %}Changelog{% endblock title %}

{% block content %}
  <header>
    <h1>Changelog</h1>
  </header>

  {% if entries %}
    {% for entry in entries %}
      <article>
        <header title="{{ entry.date }}" x-data="{ timestamp: false }" @click="timestamp = !timestamp">
          <span x-show="timestamp">{{ entry.date|timesince }} <span class="subdued">ago</span></span>
          <span x-show="!timestamp" x-cloak>{{ entry.date|date:"l, F j, Y" }}</span>
        </header>
        <div>{{ entry.summary }}</div>
        {% if entry.details_html %}
          <hr>
          <div>{{ entry.details_html|safe }}</div>
        {% endif %}
      </article>
    {% endfor %}
  {% endif %}

  <hr>

  <p><a href="{% url 'changelog_feed' %}">Subscribe via RSS</a></p>
{% endblock content %}

{% block page_js %}
  <script>
    localStorage.setItem('changelogId', '{{ entries.0.id }}');
  </script>
{% endblock page_js %}
