{% extends "base.html" %}

{% block title %}
  {% if action == 'new' %}
    Add a cover to {{ book }}
  {% else %}
    Edit cover for {{ book }}
  {% endif %}
{% endblock title %}

{% block content %}
  <h1>
    {% if action == 'new' %}
      Add a cover to <a href="{{ book.get_absolute_url }}">{{ book }}</a>
    {% else %}
      Edit cover for <a href="{{ book.get_absolute_url }}">{{ book }}</a>
    {% endif %}
  </h1>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div>
        {{ field.as_field_group }}
      </div>
    {% endfor %}
    <input type="submit" value="Save">
  </form>
{% endblock content %}
