{% extends "base.html" %}

{% block title %}
  {% if action == 'new' %}
    Add a cover to {{ book }}
  {% else %}
    Edit cover for {{ book }}
  {% endif %}
{% endblock title %}

{% block content %}
  <h1>
    {% if action == 'new' %}
      Add a cover to {{ book }}
    {% else %}
      Edit cover for {{ book }}
    {% endif %}
  </h1>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Save">
  </form>
{% endblock content %}
