{% extends "base.html" %}
{% load static %}

{% block title %}
  Stacks
{% endblock title %}

{% block content %}
  <header>
    <h1>Stacks</h1>
  </header>

  <div class="grid">
    {% for book in books %}<div>{{ book }}</div>{% endfor %}
  </div>

  <hr>

  {% if request.user.is_authenticated %}
    <p>You’re logged in as {{ request.user }}!</p>
    <p>
      Now you can see <a href="{% url 'private-page' %}">the private page</a>.
    </p>
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button>Log out</button>
    </form>
  {% else %}
    <p>
      <a href="{% url 'login' %}">Log in</a>
    </p>
  {% endif %}
{% endblock content %}
