{% extends "base.html" %}
{% load static %}

{% block body_tag %}class="home"{% endblock body_tag %}

{% block content %}
  <header>
    <div class="svg stack">Book Stacks icon</div>
    <h1>Stacks.</h1>
  </header>

  <div>
    <a href="{% url 'login' %}">Log in</a> or <a href="{% url 'django_registration_register' %}">create a free account</a>
  </div>

  <div class="intro">
    <p>Keep track of what you are reading, what you want to read, and what you've finished.</p>
    <p>Not a social network.</p>
  </div>

  <div class="screenshots">
    <img src="{% static 'img/mobile.png' %}" alt="Mobile screenshot" width="300" height="578.5">
    <img src="{% static 'img/desktop.png' %}" alt="Desktop screenshot" width="600" height="445">
  </div>

{% endblock content %}
