{% extends "base.html" %}
{% load static %}

{% block body_tag %}class="home"{% endblock body_tag %}

{% block content %}
  <header>
    <div class="svg stack">Book Stacks icon</div>
    <h1>Stacks.</h1>
  </header>

  <div>
    <a href="{% url 'login' %}">Log in</a> or <a href="{% url 'django_registration_register' %}">create a free account</a>
  </div>

  <div class="intro">
    <p>Keep track of what you are reading, what you want to read, and what you've finished.</p>
    <p>Not a social network.</p>
    <div class="faux-form">
      <a class="svg github" href="https://github.com/piepworks/stacks">View source on GitHub</a>
    </div>
  </div>

  <div class="screenshots">
    <img loading="lazy" class="dark" src="{% static 'img/mobile-dark.png' %}" alt="Mobile screenshot (dark)" width="300" height="578.5">
    <img loading="lazy" class="light" src="{% static 'img/mobile-light.png' %}" alt="Mobile screenshot (light)" width="300" height="578.5">
    <img loading="lazy" class="dark" src="{% static 'img/desktop-dark.png' %}" alt="Desktop screenshot (dark)" width="600" height="453.5">
    <img loading="lazy" class="light" src="{% static 'img/desktop-light.png' %}" alt="Desktop screenshot (light)" width="600" height="453.5">
  </div>

{% endblock content %}
