{% extends "base.html" %}

{% block title %}Import Books{% endblock title %}

{% block content %}
  <header>
    <h1>Import your books from Goodreads or The StoryGraph</h1>
  </header>

  <p>First, export your library:</p>

  <ul>
    <li><a href="https://www.goodreads.com/review/import">Goodreads</a></li>
    <li><a href="https://app.thestorygraph.com/user-export">The StoryGraph</a></li>
  </ul>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      {{ form.csv.as_field_group }}
    </div>
    <input type="submit" value="Import">
  </form>
{% endblock content %}
