{% extends "base.html" %}
{% load status_display get_book %}

{% block title %}Logbook{% endblock title %}
{% block body_tag %}class="logbook"{% endblock body_tag %}

{% block content %}
  <header>
    <h1>Logbook</h1>
  </header>

  <article class="description">Here’s what your books have been up to…</article>

  {% for log in logs %}
    <article>
      <header title="{{ log.log_timestamp }}">{{ log.log_timestamp|timesince }} <span class="subdued">ago</span></header>

      <div class="change-body">
        {% if log.log_type == 'book' %}
          {% with book=books|get_book:log.id %}
            {% if book %}
              {% with cover=book.covers.all|first %}
                <div class="cover">
                  <a href="{% url 'book_detail' book.id %}">
                    {% if cover.thumbnail %}
                      <img src="{{ cover.thumbnail.url }}" alt="{{ cover }}" height="{{ cover.thumbnail_height }}" width="{{ cover.thumbnail_width }}">
                    {% else %}
                      {% include "components/no-cover.html" with class="incomplete" %}
                    {% endif %}
                  </a>
                </div>
              {% endwith %}
              <div class="change-details">
                <div class="title">{{ book.title }}</div>
                <div class="change">Added <span class="subdued">→</span> {{ log.original_status|status_display }}</div>
              </div>
            {% endif %}
          {% endwith %}
        {% elif log.log_type == 'status_change' %}
          {% with book=books|get_book:log.book_id %}
            {% if book %}
              {% with cover=book.covers.all|first %}
                <div class="cover">
                  <a href="{% url 'book_detail' book.id %}">
                    {% if cover.thumbnail %}
                      <img src="{{ cover.thumbnail.url }}" alt="{{ cover }}" height="{{ cover.thumbnail_height }}" width="{{ cover.thumbnail_width }}">
                    {% else %}
                      {% include "components/no-cover.html" with class="incomplete" %}
                    {% endif %}
                  </a>
                </div>
              {% endwith %}
              <div class="change-details">
                <div class="title">{{ book.title }}</div>
                <div class="change">{{ log.old_status|status_display }} <span class="subdued">→</span> {{ log.new_status|status_display }}</div>
              </div>
            {% endif %}
          {% endwith %}
        {% endif %}
      </div>
    </article>
  {% endfor %}
{% endblock content %}
