{% extends "base.html" %}
{% load status_display get_book %}

{% block title %}Logbook{% endblock title %}
{% block body_tag %}class="logbook"{% endblock body_tag %}

{% block content %}
  <header>
    <h1>Logbook</h1>
  </header>

  {% if page_obj.number == 1 %}
    <article class="description">Here’s what your books have been up to…</article>
  {% endif %}

  {% for log in page_obj %}
    <article>
      <header title="{{ log.log_timestamp }}">{{ log.log_timestamp|timesince }} <span class="subdued">ago</span></header>

      <div class="change-body">
        {% if log.log_type == 'book' %}
          {% with book=books|get_book:log.id %}
            {% if book %}
              {% include "components/logbook-list-item.html" %}
              <div class="change-details">
                <div class="title">{{ book.title }}</div>
                <div class="change">Added <span class="subdued">→</span> {{ log.original_status|status_display }}</div>
              </div>
            {% endif %}
          {% endwith %}
        {% elif log.log_type == 'status_change' %}
          {% with book=books|get_book:log.book_id %}
            {% if book %}
              {% include "components/logbook-list-item.html" %}
              <div class="change-details">
                <div class="title">{{ book.title }}</div>
                <div class="change">{{ log.old_status|status_display }} <span class="subdued">→</span> {{ log.new_status|status_display }}</div>
              </div>
            {% endif %}
          {% endwith %}
        {% endif %}
      </div>
    </article>
  {% endfor %}

  {% if page_obj.has_other_pages %}
    <div class="pagination">
      {% if page_obj.has_previous %}
        <form method="get"
          action="{% url 'logbook' %}">
          <input type="hidden" name="page" value="{{ page_obj.previous_page_number }}">
          <button :aria-busy="loading" @click="loading = true" x-on:htmx:after-swap.window="loading = false">Previous</button>
        </form>
      {% else %}
        <button disabled>Previous</button>
      {% endif %}

      <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>

      {% if page_obj.has_next %}
        <form method="get"
          action="{% url 'logbook' %}">
          <input type="hidden" name="page" value="{{ page_obj.next_page_number }}">
          <button :aria-busy="loading" @click="loading = true" x-on:htmx:after-swap.window="loading = false">Next</button>
        </form>
      {% else %}
        <button disabled>Next</button>
      {% endif %}
    </div>
  {% endif %}
{% endblock content %}
