{% extends "base.html" %}

{% block body_tag %}class="note-edit"{% endblock body_tag %}class="note-edit"

{% block title %}Edit note{% endblock title %}

{% block content %}
  <h1>Edit note</h1>

  <form method="post">
    {% csrf_token %}
    {{ form.text }}
    <button type="submit">Save</button>
  </form>

  <form method="post" action="{% url 'note_delete' book.slug note.id %}" onsubmit="return confirm('Are you sure you want to delete this note?')">
    {% csrf_token %}
    <button class="svg delete">Delete</button>
  </form>
{% endblock content %}
