{% extends "base.html" %}

{% block title %}Choose a book{% endblock title %}

{% block body_tag %}class="ol-results"{% endblock body_tag %}

{% block content %}
  {% if local_results %}
    <h1>It looks like you may already have this book:</h1>
    <ul>
      {% for book in local_results %}
        <li class="book">
          {% include "components/book-list-item.html" %}
        </li>
      {% endfor %}
    </ul>

    <h2>No? Then check out these search results:</h2>
  {% else %}
    <h1>Search results</h1>
  {% endif %}

  <h2>Choose a cover</h2>

  <main>
    <p><a href="{% url 'book_new' %}">Skip this (no auto-populated fields)</a></p>

    <ul>
      {% for result in results %}
        <li class="book">
          <div class="cover">
            <a href="{% url 'book_new' %}?olid={{ result.olid }}&cover={{ result.cover }}&authors={{ result.authors_string }}&title={{ result.title }}&year={{ result.published }}&pages={{ result.pages }}{% if status %}&status={{ status }}{% endif %}">
              <div class="img-wrapper"><img src="{{ result.cover }}" alt="Cover of {{ result.title }}" width="300" height="auto"></div>
              <div class="image-spinner">
                <div aria-busy="true"></div>
              </div>
            </a>
          </div>
          <div class="title" title="{{ result.title }}">{{ result.title }}</div>
        </li>
      {% endfor %}
    </ul>

    <h3>Search again</h3>
    {% include "components/ol-search-form.html" %}
  </main>
{% endblock content %}
