{% extends "base.html" %}

{% block title %}
  {% if action == 'new' %}
    Start new reading
  {% else %}
    Edit reading
  {% endif %}
{% endblock title %}

{% block content %}
  <h1>
    {% if action == 'new' %}
      Start a new reading
    {% else %}
      Edit reading
    {% endif %}
  </h1>

  <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Save</button>
  </form>

  {% if action != 'new' %}
    <form class="delete" method="post" action="{% url 'reading_delete' book.pk reading.id %}" onsubmit="return confirm('Are you sure you want to delete this reading?')">
      {% csrf_token %}
      <button class="svg delete">Delete</button>
    </form>
  {% endif %}
{% endblock content %}
