{% extends "base.html" %}

{% block title %}Search Results for “{{ query }}”{% endblock title %}

{% block body_tag %}class="search"{% endblock body_tag %}

{% block content %}
  <h1>Search Results for “{{ query }}”</h1>

  {% if books %}
    <ul>
      {% for book in books %}
      <li class="book" x-data="{
          close() {
            $refs.statusModal_{{ book.id }}.close();
          },
          closeFromEvent(event) {
            if (event.currentTarget === event.target) {
              $refs.statusModal_{{ book.id }}.close();
            }
          },
        }">
        {% include "components/book-list-item.html" %}

        {% include "components/status-modal.html" %}

        <div class="actions">
            <div class="faux-form">
              <button class="svg adjust-status" @click="$refs.statusModal_{{ book.id }}.showModal()" title="Adjust status">
                Adjust status
              </button>
            </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No books found.</p>
  {% endif %}
{% endblock content %}
