{% extends "base.html" %}

{% block title %}Series{% endblock title %}

{% block body_tag %}class="series-list"{% endblock body_tag %}

{% block content %}
  <header class="actions-inline">
    <div>
      <h1>Series</h1>
      <div class="faux-form"><a class="svg add-item" href="{% url 'series_new' %}">add another</a></div>
    </div>
  </header>

  <ul>
    {% for s in series %}
      <li>
        <a href="{{ s.get_absolute_url }}">{{ s.title }}</a>
        <span class="subdued">{{ s.books.count }}</span>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
