{% extends "base.html" %}
{% block title %}
  {{ status.name }}
{% endblock title %}

{% block header %}
  {% include "components/status-nav.html" %}
{% endblock header %}

{% block content %}
  <h1>{{ status.name }}</h1>

  <ul class="grid">
    {% for book in books %}
      <li>
        <a href="#{{ book.id }}">
          {% with book.book.covers.all|first as cover %}
            <img src="{{ cover.image.url }}"
                 alt="{{ cover }}"
                 width="100"
                 height="auto"
                 title="{{ book.book }}">
          {% endwith %}
        </a>
      </li>
    {% endfor %}
  </ul>

{% endblock content %}
