{% extends "base.html" %}
{% load get_next_status %}
{% load get_previous_status %}

{% block body_tag %}
  class="status"
{% endblock body_tag %}

{% block title %}
  {{ status.name }}
{% endblock title %}

{% block header %}
  {% include "components/status-nav.html" %}
{% endblock header %}

{% block content %}
  <div class="header-actions-inline">
    <h1>{{ status.name }}</h1>
    <a href="{% url 'book_new' %}?status={{ status.slug }}">add another</a>
  </div>

  {% if finished_counts %}
    <dl class="finished-counts">
      {% for count in finished_counts reversed %}
        <div>
          <dt>{{ count.readings__end_date__year }}</dt>
          <dd>
            {{ count.count }}
          </dd>
        </div>
      {% endfor %}
    </dl>
  {% endif %}

  <ul>
    {% for book in books %}
      <li class="book">
        <a href="{% url 'book_detail' book.id %}">
          {% with book.covers.all|first as cover %}
            <img src="{{ cover.image.url }}"
                 alt="{{ cover }}"
                 width="150"
                 height="auto"
                 title="{{ book }}">
          {% endwith %}
        </a>
        <div class="title" title="{{ book }}">{{ book }}</div>
        <div class="actions">
          {% if book.status|get_previous_status != None %}
          <form action="{% url 'book_update' book.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="status" value="{{ book.status|get_previous_status }}">
            <button class="svg previous-status">Previous status</button>
          </form>
          {% else %}
          <span>&nbsp;</span>
          {% endif %}

          <button class="svg adjust-status" onclick="document.querySelector('#book-{{ book.id }}').showModal()">
            Adjust status
          </button>

          {% if book.status|get_next_status != None %}
          <form action="{% url 'book_update' book.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="status" value="{{ book.status|get_next_status }}">
            <button class="svg next-status">Next status</button>
          </form>
          {% else %}
          <span>&nbsp;</span>
          {% endif %}
        </div>
        {% include "components/status-modal.html" %}
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
