{% extends "base.html" %}
{% load get_next_status get_previous_status %}

{% block body_tag %}
  class="status"
{% endblock body_tag %}

{% block title %}
  {{ status.name }}
{% endblock title %}

{% block header %}
  {% include "components/status-nav.html" %}
{% endblock header %}

{% block content %}
  {% include "components/search-form.html" %}

  <div class="header-actions-inline">
    <h1>{{ status.name }}</h1>
    <a class="svg add-item" href="{% url 'book_new' %}?status={{ status.slug }}" onclick="event.preventDefault(); document.querySelector('#add-book').showModal();document.querySelector('#add-book input[name=q]').focus()">add another</a>
  </div>

  {% if finished_counts %}
    <dl class="finished-counts">
      {% for count in finished_counts reversed %}
        <div>
          <dt>{{ count.readings__end_date__year }}</dt>
          <dd>
            {{ count.count }}
          </dd>
        </div>
      {% endfor %}
    </dl>
  {% endif %}

  <div{% if status.slug != 'wishlist' %} x-data="{ selected: 'all', formatIsInList: function(format, list) { return list.split(',').includes(format); } }"{% endif %}>
    {% if status.slug != 'wishlist' %}
      <section class="filters">
        <div>
          <input type="radio" id="all" name="format" value="all" x-model="selected">
          <label for="all">All <small>(<span x-text="document.querySelectorAll('[data-formats]').length"></span>)</small></label>
        </div>
        {% for format in formats %}
          <div x-show="document.querySelectorAll('[data-formats*={{ format.slug }}]').length">
            <input type="radio" id="{{ format.slug }}" name="format" value="{{ format.slug }}" x-model="selected">
            <label for="{{ format.slug }}">{{ format.name }} <small>(<span x-text="document.querySelectorAll('[data-formats*={{ format.slug }}]').length"></span>)</small></label>
          </div>
        {% endfor %}
      </section>
    {% endif %}

    <ul>
      {% for book, form in forms %}
        <li class="book"{% if status.slug != 'wishlist' %} data-formats="{% for format in book.format.all %}{{ format.slug }}{% if not forloop.last %},{% endif %}{% endfor %}" x-show="selected === 'all' || formatIsInList(selected, $el.dataset.formats)"{% endif %}>
          <a href="{% url 'book_detail' book.id %}">
            {% if book.covers.all %}
              {% with book.covers.all|first as cover %}
                <img src="{{ cover.thumbnail.url }}"
                    alt="{{ cover }}"
                    width="150"
                    height="auto"
                    title="{{ book }}">
              {% endwith %}
            {% else %}
            <div class="no-cover">
              {# https://remixicon.com/icon/book-line #}
              <svg class="book" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3 18.5V5C3 3.34315 4.34315 2 6 2H20C20.5523 2 21 2.44772 21 3V21C21 21.5523 20.5523 22 20 22H6.5C4.567 22 3 20.433 3 18.5ZM19 20V17H6.5C5.67157 17 5 17.6716 5 18.5C5 19.3284 5.67157 20 6.5 20H19ZM5 15.3368C5.45463 15.1208 5.9632 15 6.5 15H19V4H6C5.44772 4 5 4.44772 5 5V15.3368Z"></path></svg>
            </div>
            {% endif %}
          </a>
          <div class="title" title="{{ book }}">{{ book }}</div>
          <div class="actions">
            {% if book.status|get_previous_status != None %}
            <form action="{% url 'book_update' book.id %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="status_change" value="true">
              <input type="hidden" name="status" value="{{ book.status|get_previous_status }}">
              {{ form }}
              <button class="svg previous-status">Previous status</button>
            </form>
            {% else %}
            <span>&nbsp;</span>
            {% endif %}

            <button class="svg adjust-status" onclick="document.querySelector('#book-{{ book.id }}').showModal()">
              Adjust status
            </button>

            {% if book.status|get_next_status != None %}
            <form action="{% url 'book_update' book.id %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="status" value="{{ book.status|get_next_status }}">
              <input type="hidden" name="status_change" value="true">
              {{ form }}
              <button class="svg next-status">Next status</button>
            </form>
            {% else %}
            <span>&nbsp;</span>
            {% endif %}
          </div>
          {% include "components/status-modal.html" %}
        </li>
      {% endfor %}
    </ul>
  </div>

  <dialog id="add-book">
    <article>
      <header>
        <button aria-label="Close"
                rel="prev"
                onclick="document.querySelector('#add-book').close()"></button>
        <p><b>Search to add a book to “{{ status.name }}”</b></p>
        <p>or <a href="{% url 'book_new' %}?status={{ status.slug }}">add manually</a></p>
      </header>
      <form method="get" action="{% url 'open_library_search' %}">
        <fieldset>
          <input type="hidden" name="status" value="{{ status.slug }}">
          <input type="text" name="q" required>
        </fieldset>
        <button type="submit">Search Open Library</button>
      </form>
    </article>
  </dialog>
{% endblock content %}
