h1 {
  font-size: theme('fontSize.2xl');
  font-weight: theme('fontWeight.bold');
  line-height: theme('spacing.7');

  @media (min-width: theme('screens.sm')) {
    font-size: theme('fontSize.3xl');
  }
}

.ol-results main,
.search main,
.status main,
.author-detail main {
  ul,
  ol {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: theme(spacing.8);
  }

  li {
    display: flex;
    flex-direction: column;
    width: 150px;

    &:hover .actions {
      opacity: 1;
    }

    .title {
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: theme(spacing.3);
      padding: theme(spacing.2) 0;
    }

    img,
    .no-cover {
      width: 100%;
      border: 0.125rem solid rgb(0 0 0 / 20%);
      border-radius: 0.25rem;

      @media (prefers-color-scheme: dark) {
        border-color: rgb(255 255 255 / 20%);
      }
    }

    .no-cover {
      margin: 0;
      min-height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .extra-info {
      margin-bottom: theme(spacing.2);
      font-style: italic;
      opacity: 0.5;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: opacity theme('transitionDuration.150')
        theme('transitionTimingFunction.DEFAULT');

      @media screen(lg) {
        opacity: 0;
      }

      form {
        display: flex;
      }

      span.empty {
        padding: 0 theme(spacing.2);

        &.right {
          padding-right: theme(spacing.3);
        }
      }
    }
  }
}

dialog .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: theme(spacing.4);

  @media (min-width: 576px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

main header:not(dialog header) {
  gap: theme(spacing.4);
  margin: 0 0 theme(spacing.12);

  @media screen(lg) {
    &,
    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    dialog form {
      display: block;
    }

    form {
      gap: theme(spacing.1);
    }
  }

  a[role='button'],
  button {
    padding: theme(spacing.1) theme(spacing.4);
  }

  .svg {
    padding: theme(spacing.4);
  }

  .inner {
    display: flex;
    gap: theme(spacing.4);
    align-items: center;
  }

  &.actions-inline {
    gap: theme(spacing.4);
    justify-content: flex-start;
    align-items: flex-end;

    @media (min-width: 576px) {
      display: flex;
    }

    .status & {
      margin: 0 0 theme(spacing.8);
    }

    h1,
    h2 {
      margin: 0;
    }

    .svg.add-item {
      padding: theme(spacing.3);
      margin-bottom: theme(spacing.1);
    }

    /* Filter toggle goodies */
    &:has(> div) {
      justify-content: space-between;
    }

    > div {
      display: flex;
      gap: theme(spacing.4);
      align-items: flex-end;
    }

    .filter-toggle {
      display: flex;
      align-items: flex-end;
      margin-right: theme(spacing.4);
      justify-content: flex-end;
      gap: theme(spacing.2);

      p {
        margin: 0;
      }
    }
  }

  /* Sub-headings like "Readings" */
  section & {
    margin: 0 0 theme(spacing.4);
  }
}

fieldset > div + div {
  margin-top: theme(spacing.8);
}

fieldset > .checkbox,
fieldset > .radio {
  margin-top: theme(spacing.4);
}

.covers {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: theme(spacing.4);
  margin: 0 0 theme(spacing.8);

  img {
    border: 0.25rem solid rgb(0 0 0 / 20%);
    border-radius: theme(spacing.2);

    @media (prefers-color-scheme: dark) {
      border-color: rgb(255 255 255 / 20%);
    }
  }

  .another {
    margin: 0;
    min-width: 150px;
    min-height: 100px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: theme(spacing.2);
  }

  .actions {
    padding: 0 theme(spacing.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: theme(spacing.4);
  }
}

.no-cover {
  display: flex;
  flex-direction: column;
  gap: theme(spacing.4);
  align-items: center;
  margin: theme(spacing.8) 0;
  border: 0.25rem solid rgb(0 0 0 / 20%);
  border-radius: theme(spacing.2);
  padding: theme(spacing.4) theme(spacing.4) theme(spacing.8);

  @media (prefers-color-scheme: dark) {
    border-color: rgb(255 255 255 / 20%);
  }

  .book-detail & .book {
    height: 150px;
  }

  .add {
    height: 50px;
  }
}

.book .no-cover .book {
  height: 50px;
}

.search-form {
  margin: theme(spacing.12) 0;
}

.blank-state {
  background: var(--pico-text-selection-color);
  padding: theme(spacing.12);
  border-radius: theme(spacing.2);

  p:only-child {
    margin: 0;
  }
}
