/* Adjust Pico styles */
#djDebug {
  input[type='checkbox'] {
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 0.125rem;
  }

  svg.djdt-hidden {
    width: 0.8rem;
    height: 0.8rem;
  }
}
