<dialog x-show="openNewBookModal" x-htmldialog="openNewBookModal = false" x-transition>
  <article @click.outside="openNewBookModal = false">
    <header>
      <button aria-label="Close"
              rel="prev"
              @click="openNewBookModal = false"></button>
      <p><b>Search to add a book to “{{ status.name }}”</b></p>
      <p>or <a href="{% url 'book_new' %}?status={{ status.slug }}">add manually</a></p>
    </header>
    <form method="get" action="{% url 'open_library_search' %}">
      <fieldset>
        <input type="hidden" name="status" value="{{ status.slug }}">
        <input type="text" name="q" autofocus required>
      </fieldset>
      <button type="submit">Search Open Library</button>
    </form>
  </article>
</dialog>
