<dialog id="author-new">
  <article>
    <header>
      <button aria-label="Close"
        type="button"
        rel="prev"
        onclick="document.querySelector('#author-new').close('Boooop')"></button>
      <p>Add a new author</p>
    </header>
    <form action="{% url 'author_new' %}" method="post">
      {% csrf_token %}
      <fieldset>
        <label>
          Name
          <input type="text" name="name">
        </label>
      </fieldset>
      <input type="submit" value="Add">
    </form>
  </article>
</dialog>
