{% load get_next_status get_previous_status get_item days_ago %}

<div x-data="bookList" id="book-list">
  <header class="actions-inline">
    <div x-data="{
      close() {
        $refs.addBook.close();
      },
      closeFromEvent(event) {
        if (event.currentTarget === event.target) {
          $refs.addBook.close();
        }
      },
    }">
      <h1>{{ status.name }}</h1>
      <a @click.prevent="$refs.addBook.showModal()" class="svg add-item" href="{% url 'book_new' %}?status={{ status.slug }}">add another</a>
      {% include "components/add-book-modal.html" %}
    </div>

    {% if forms %}
      <div id="ajax-filter-toggle" class="filter-toggle">
        {% if filter_request %}
          <p>{% if filter_active %}Showing {{ filtered_books_count }} of {{ status_counts|get_item:status.slug }} books / {% endif %}<a hx-get="{{ request.path }}" hx-target="#book-list" href="{{ request.path }}">Reset filters</a></p>
        {% endif %}
        <button title="Show filters" class="svg no-filter" disabled x-ignore>Show filters</button>
        <button title="Toggle filters" class="svg" :class="{'no-filter': openFilters, 'filter': !openFilters}" @click="openFilters = !openFilters" x-cloak>Show filters</button>
      </div>
    {% endif %}
  </header>

  {% if finished_counts %}
    <dl class="finished-counts overflow-auto">
      {% for count in finished_counts reversed %}
        <div>
          <dt>{{ count.readings__end_date__year }}</dt>
          <dd>
            {{ count.count }}
          </dd>
        </div>
      {% endfor %}
    </dl>
  {% endif %}

  {% include "components/book-filters.html" %}

  {% if forms %}
    <ul>
      {% for book, form in forms %}
        <li x-data="{
          close() {
            $refs.statusModal_{{ book.id }}.close();
          },
          closeFromEvent(event) {
            if (event.currentTarget === event.target) {
              $refs.statusModal_{{ book.id }}.close();
            }
          },
        }">
          {% if status.slug == 'reading' %}
            {% if book.readings.all %}
              {% with book.readings.all|first as reading %}
                <div class="extra-info">
                  <small class="days-ago" title="{{ reading.start_date }}">
                    {{ reading.start_date|days_ago }}
                  </small>
                </div>
              {% endwith %}
            {% endif %}
          {% endif %}

          {% if status.slug == 'finished' or status.slug == 'dnf' %}
            {% if book.latest_reading %}
              <div class="extra-info">
                <small class="month-year" title="{{ book.latest_reading.end_date }}">
                  {{ book.latest_reading.end_date|date:"F Y" }}
                </small>
              </div>
            {% endif %}
          {% endif %}

          <a href="{{ book.get_absolute_url }}">
            {% if book.covers.all %}
              {% with book.covers.all|first as cover %}
                <img src="{{ cover.thumbnail.url }}"
                  alt="{{ cover }}"
                  height="auto"
                  width="150"
                  title="{{ book }}">
              {% endwith %}
            {% else %}
              <div class="no-cover">
                {# https://remixicon.com/icon/book-line #}
                <svg class="book" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3 18.5V5C3 3.34315 4.34315 2 6 2H20C20.5523 2 21 2.44772 21 3V21C21 21.5523 20.5523 22 20 22H6.5C4.567 22 3 20.433 3 18.5ZM19 20V17H6.5C5.67157 17 5 17.6716 5 18.5C5 19.3284 5.67157 20 6.5 20H19ZM5 15.3368C5.45463 15.1208 5.9632 15 6.5 15H19V4H6C5.44772 4 5 4.44772 5 5V15.3368Z"></path></svg>
              </div>
            {% endif %}
          </a>
          <div class="title" title="{{ book }}">{{ book }}</div>
          <div class="actions">
            {% if book.status|get_previous_status != None %}
              <form action="{% url 'book_update' book.pk %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="status_change" value="true">
                <input type="hidden" name="status" value="{{ book.status|get_previous_status }}">
                {{ form }}
                <button class="svg previous-status" title="Change status to “{{ book.status|get_previous_status }}”">Previous status</button>
              </form>
            {% else %}
              <span class="empty left"></span>
            {% endif %}
            <button class="svg adjust-status" @click="$refs.statusModal_{{ book.id }}.showModal()" title="Adjust status">
              Adjust status
            </button>
            {% if book.status|get_next_status != None %}
              <form action="{% url 'book_update' book.pk %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="status" value="{{ book.status|get_next_status }}">
                <input type="hidden" name="status_change" value="true">
                {{ form }}
                <button class="svg next-status" title="Change status to “{{ book.status|get_next_status }}”">Next status</button>
              </form>
            {% else %}
                <span class="empty right"></span>
            {% endif %}
          </div>
          {% include "components/status-modal.html" %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="blank-state">
      <p>No books found. <a href="{% url 'book_new' %}?status={{ status.slug }}" >Add one!</a></p>
    </div>
  {% endif %}

  {% if page_obj.has_other_pages %}
    <div id="ajax-pagination">
      {% if page_obj.has_previous %}
      <form x-init x-target.replace="ajax-filter-toggle ajax-filters-form ajax-books ajax-pagination" method="post" action="{% url 'status' status.slug %}?page={{ page_obj.previous_page_number }}">
        {% csrf_token %}
        <button>
          Previous
        </button>
      </form>
      {% else %}
      <button disabled>Previous</button>
      {% endif %}

      <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>

      {% if page_obj.has_next %}
      <form x-init x-target.replace="ajax-filter-toggle ajax-filters-form ajax-books ajax-pagination" x-merge="update" method="post" action="{% url 'status' status.slug %}?page={{ page_obj.next_page_number }}">
        {% csrf_token %}
        <button>
          Next
        </button>
      </form>
      {% else %}
      <button disabled>Next</button>
    {% endif %}
  </div>
  {% endif %}
</div>
