{% load get_item filter_matches_any %}
<form
  x-cloak
  x-show="openFilters"
  method="get"
  action="{% url 'status' status.slug %}"
  hx-get="{% url 'status' status.slug %}"
  hx-trigger="change"
  x-transition>
  <dl class="filters">
    <div>
      <dt>Types</dt>
      <dd>
        <div>
          <label>
            <input type="radio" name="type" value="all" {% if filter_queries.type %}checked{% endif %}>
            All
          </label>
        </div>

        {% for type in types %}
          {% if not type.parent %}
            {% if filter_counts.type|get_item:type.slug|get_item:'count' > 0 %}
              {% filter_matches_any type "type" filter_queries as is_selected %}
              <div{% if is_selected %} class="selected"{% endif %}>
                <label class="parent">
                  <input type="radio" name="type" value="{{ type.slug }}" {% if type.slug == filter_queries.type %}checked{% endif %}>
                  {{ type.name }}
                  ({{ filter_counts.type|get_item:type.slug|get_item:'count' }})
                </label>
                {% if type.has_sub_type %}
                  <div class="sub-filters">
                    {% for sub_type in types %}
                      {% if sub_type.parent == type %}
                        {% if filter_counts.type|get_item:type.slug|get_item:'sub_items'|get_item:sub_type.slug > 0 %}
                          <label>
                            <input type="radio" name="type" value="{{ sub_type.slug }}" {% if sub_type.slug == filter_queries.type %}checked{% endif %}>
                            {{ sub_type.name }}
                            ({{ filter_counts.type|get_item:type.slug|get_item:'sub_items'|get_item:sub_type.slug }})
                          </label>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </div>{# / Sub type #}
                {% endif %}
              </div>{# / Parent type #}
            {% endif %}
          {% endif %}
        {% endfor %}
      </dd>
    </div>
    <div>
      <dt>Genres</dt>
      <dd>
        <div>
          <label>
            <input type="radio" name="genre" value="all" {% if filter_queries.genre == 'all' %}checked{% endif %}>
            All
          </label>
        </div>
        {% for genre in genres %}
          {% if not genre.parent %}
            {% if filter_counts.genre|get_item:genre.slug|get_item:'count' > 0 %}
              {% filter_matches_any genre "genre" filter_queries as is_selected %}
              <div{% if is_selected %} class="selected"{% endif %}>
                <label class="parent">
                  <input type="radio" name="genre" value="{{ genre.slug }}" {% if genre.slug == filter_queries.genre %}checked{% endif %}>
                  {{ genre.name }}
                  ({{ filter_counts.genre|get_item:genre.slug|get_item:'count' }})
                </label>
                {% if genre.has_sub_genre %}
                  <div class="sub-filters">
                    {% for sub_genre in genres %}
                      {% if sub_genre.parent == genre %}
                        {% if filter_counts.genre|get_item:genre.slug|get_item:'sub_items'|get_item:sub_genre.slug > 0 %}
                          <label>
                            <input type="radio" name="genre" value="{{ sub_genre.slug }}" {% if sub_genre.slug == filter_queries.genre %}checked{% endif %}>
                            {{ sub_genre.name }}
                            ({{ filter_counts.genre|get_item:genre.slug|get_item:'sub_items'|get_item:sub_genre.slug }})
                          </label>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </div>{# / Sub genre #}
                {% endif %}
              </div>{# / Parent genre #}
            {% endif %}
          {% endif %}
        {% endfor %}
      </dd>
    </div>
    {% if status.slug != 'wishlist' %}
      <div>
        <dt>Formats</dt>
        <dd>
          <div>
            <label>
              <input type="radio" name="format" value="all" {% if filter_queries.format == 'all' %}checked{% endif %}>
              All
            </label>
          </div>
          {% for format in formats %}
            {% if filter_counts.format|get_item:format.slug > 0 %}
              <div>
                <label>
                  <input type="radio" name="format" value="{{ format.slug }}" {% if format.slug == filter_queries.format %}checked{% endif %}>
                  {{ format.name }}
                  ({{ filter_counts.format|get_item:format.slug }})
                </label>
              </div>
            {% endif %}
          {% endfor %}
        </dd>
      </div>
      <div>
        <dt>Locations</dt>
        <dd>
          <div>
            <label>
              <input type="radio" name="location" value="all" {% if filter_queries.location == 'all' %}checked{% endif %}>
              All
            </label>
          </div>
          {% for location in locations %}
            {% if filter_counts.location|get_item:location.slug > 0 %}
              <div>
                <label>
                  <input type="radio" name="location" value="{{ location.slug }}" {% if location.slug in filter_queries.location %}checked{% endif %}>
                  {{ location.name }}
                  ({{ filter_counts.location|get_item:location.slug }})
                </label>
              </div>
            {% endif %}
          {% endfor %}
        </dd>
      </div>
    {% endif %}
  </dl>
</form>
