{% load smartypants %}
<div class="cover">
  <a href="{{ book.get_absolute_url }}">
    {% if book.covers.all %}
      {% with book.covers.all|first as cover %}
        {% if cover.thumbnail %}
          <img loading="lazy" src="{{ cover.thumbnail.url }}"
            alt="{{ cover }}"
            height="{{ cover.thumbnail_height }}"
            width="{{ cover.thumbnail_width }}"
            title="{{ book }}">
        {% else %}
          {% include "components/no-cover.html" with class="incomplete" %}
        {% endif %}
      {% endwith %}
    {% else %}
      {% include "components/no-cover.html" %}
    {% endif %}
  </a>
</div>

<div class="title" title="{{ book }}">{{ book|smartypants }}</div>
