{% load get_next_status get_previous_status get_item days_ago %}

<div
  id="book-list"
  hx-target="this"
  hx-ext="alpine-morph"
  hx-swap="morph"
  hx-push-url="true"
  x-data="{
    openFilters: false,
    topOfList() {
      document.getElementById('book-list-inner').scrollIntoView({ behavior: 'smooth' });
    },
  }">
  {% if messages %}
    {% include "components/messages.html" %}
  {% endif %}
  <header class="actions-inline filter-display">
    <div>
      <div>
        <h1>{{ status.name }}</h1>
        <div class="faux-form"><a @click.prevent="$refs.addBook.showModal()" class="svg add-item" href="{% url 'book_new' %}?status={{ status.slug }}">add another</a></div>
      </div>
      <div class="filter-toggle">
        <button title="Show filters" class="svg no-filter" disabled x-ignore>Show filters</button>
        <div class="faux-form">
          <button title="Toggle filters" class="svg" :class="{'no-filter': openFilters, 'filter': !openFilters}" @click="openFilters = !openFilters" x-cloak>Show filters</button>
        </div>
      </div>
    </div>
    {% if filter_request %}
      <div class="summary-reset">
        <p>{% if filter_active %}Showing {{ filtered_books_count }} of {{ status_counts|get_item:status.slug }} books{% endif %}</p>
        <p><a href="{{ request.path }}" hx-get="{{ request.path }}" hx-on:click="window.bsResetFilters()">Reset filters</a></p>
      </div>
    {% endif %}

  </header>

  {% if finished_counts %}
    <dl class="finished-counts overflow-auto">
      {% for count in finished_counts reversed %}
        <div>
          <dt>{{ count.readings__end_date__year }}</dt>
          <dd>
            {{ count.count }}
          </dd>
        </div>
      {% endfor %}
    </dl>
  {% endif %}

  {% include "components/book-filters.html" %}

  {% if forms %}
    <ul id="book-list-inner">
      {% for book, form in forms %}
        <li x-data="{
          close() {
            $refs.statusModal_{{ book.id }}.close();
          },
          closeFromEvent(event) {
            if (event.currentTarget === event.target) {
              $refs.statusModal_{{ book.id }}.close();
            }
          },
        }">
          {% if status.slug == 'reading' %}
            {% if book.readings.all %}
              {% with book.readings.all|first as reading %}
                <div class="extra-info">
                  <small class="days-ago" title="{{ reading.start_date }}">
                    {{ reading.start_date|days_ago }}
                  </small>
                </div>
              {% endwith %}
            {% endif %}
          {% endif %}

          {% if status.slug == 'finished' or status.slug == 'dnf' %}
            {% if book.latest_reading %}
              <div class="extra-info">
                <small class="month-year" title="{{ book.latest_reading.end_date }}">
                  {{ book.latest_reading.end_date|date:"F Y" }}
                </small>
              </div>
            {% endif %}
          {% endif %}

          {% include "components/book-list-item.html" %}

          <div class="actions">
            {% if book.status|get_previous_status != None %}
              <form action="{% url 'book_update' book.pk %}" method="post" hx-post="{% url 'book_update' book.pk %}">
                {% csrf_token %}
                <input type="hidden" name="status_change" value="true">
                <input type="hidden" name="status" value="{{ book.status|get_previous_status }}">
                {{ form }}
                <button class="svg previous-status" title="Change status to “{{ book.status|get_previous_status }}”">Previous status</button>
              </form>
            {% else %}
              <span class="empty left"></span>
            {% endif %}
            <div class="faux-form">
              <button class="svg adjust-status" @click="$refs.statusModal_{{ book.id }}.showModal()" title="Adjust status">
                Adjust status
              </button>
            </div>
            {% if book.status|get_next_status != None %}
              <form action="{% url 'book_update' book.pk %}" method="post" hx-post="{% url 'book_update' book.pk %}">
                {% csrf_token %}
                <input type="hidden" name="status" value="{{ book.status|get_next_status }}">
                <input type="hidden" name="status_change" value="true">
                {{ form }}
                <button class="svg next-status" title="Change status to “{{ book.status|get_next_status }}”">Next status</button>
              </form>
            {% else %}
                <span class="empty right"></span>
            {% endif %}
          </div>
          {% include "components/status-modal.html" %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="blank-state">
      <p>No books found. <a @click.prevent="$refs.addBook.showModal()" href="{% url 'book_new' %}?status={{ status.slug }}">Add one to “{{ status.name }}”</a></p>
    </div>
  {% endif %}

  {% if page_obj.has_other_pages %}
    <div class="pagination">
      {% if page_obj.has_previous %}
        <form method="get"
          action="{% url 'status' status.slug %}"
          hx-get="{% url 'status' status.slug %}"
          @htmx:after-request="topOfList"
          x-data="{ loading: false }">
          <input type="hidden" name="page" value="{{ page_obj.previous_page_number }}">
          {% if filter_queries.type != "all" %}
            <input type="hidden" name="type" value="{{ filter_queries.type }}">
          {% endif %}
          {% if filter_queries.genre != "all" %}
            <input type="hidden" name="genre" value="{{ filter_queries.genre }}">
          {% endif %}
          {% if filter_queries.format != "all" %}
            <input type="hidden" name="format" value="{{ filter_queries.format }}">
          {% endif %}
          {% if filter_queries.location != "all" %}
            <input type="hidden" name="location" value="{{ filter_queries.location }}">
          {% endif %}
          <button :class="loading ? 'loading' : ''" @click="loading = true" x-on:htmx:after-swap.window="loading = false">Previous</button>
        </form>
      {% else %}
        <button disabled>Previous</button>
      {% endif %}

      <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>

      {% if page_obj.has_next %}
        <form method="get"
          action="{% url 'status' status.slug %}"
          hx-get="{% url 'status' status.slug %}"
          @htmx:after-request="topOfList"
          x-data="{ loading: false }">
          <input type="hidden" name="page" value="{{ page_obj.next_page_number }}">
          {% if filter_queries.type != "all" %}
            <input type="hidden" name="type" value="{{ filter_queries.type }}">
          {% endif %}
          {% if filter_queries.genre != "all" %}
            <input type="hidden" name="genre" value="{{ filter_queries.genre }}">
          {% endif %}
          {% if filter_queries.format != "all" %}
            <input type="hidden" name="format" value="{{ filter_queries.format }}">
          {% endif %}
          {% if filter_queries.location != "all" %}
            <input type="hidden" name="location" value="{{ filter_queries.location }}">
          {% endif %}
          <button :class="loading ? 'loading' : ''" @click="loading = true" x-on:htmx:after-swap.window="loading = false">Next</button>
        </form>
      {% else %}
        <button disabled>Next</button>
      {% endif %}
    </div>
  {% endif %}
</div>
