<div class="cover">
  <a href="{{ book.get_absolute_url }}">
    {% if book.covers.all %}
      {% with book.covers.all|first as cover %}
        {% if cover.thumbnail and cover.thumbnail.url %}
          <img loading="lazy" src="{{ cover.thumbnail.url }}"
            alt="{{ cover }}"
            height="auto"
            width="150"
            title="{{ book }}">
        {% else %}
          {% include "components/no-cover.html" with class="incomplete" %}
        {% endif %}
      {% endwith %}
    {% else %}
      {% include "components/no-cover.html" %}
    {% endif %}
  </a>
</div>

<div class="title" title="{{ book }}">{{ book }}</div>
