<form method="get"
  action="{% url 'open_library_search' %}"
  id="openLibraryForm"
  x-data="{
    loading: false,
    query: '{{ query }}'
  }"
  x-init="
    $nextTick(() => {
      if (query) {
        document.getElementById('id_title').value = query;
      }
    })
  "
  @submit="loading = true">
  <fieldset>
    {% for field in form %}
      {{ field.as_field_group }}
    {% endfor %}

    <label for="id_status">Status</label>
    <select name="status" id="id_status">
      {% for x, y in status_choices %}
        <option value="{{ x }}"{% if status and status.slug == x %} selected{% endif %}>{{ y }}</option>
      {% endfor %}
    </select>
  </fieldset>
  <button :class="loading ? 'loading' : ''" type="submit">Search Open Library</button>
</form>
