<form method="get"
  action="{% url 'open_library_search' %}"
  id="openLibraryForm"
  x-data="{
    loading: false,
    query: '{{ query }}',
    everything: {% if form.everything.value == None %}false{% else %}true{% endif %},
    toggleEverything () {
      this.everything = ! this.everything;

      if (this.everything) {
        this.$nextTick(() => {
          document.getElementById('id_everything').focus();
        });
      } else {
        this.$nextTick(() => {
          document.getElementById('id_title').focus();
        });
      }
    },
  }"
  x-init="
    $nextTick(() => {
      if (query) {
        document.getElementById('id_title').value = query;
      }
    })
  "
  @submit="loading = true">
  <fieldset>
    {% for field in form %}
      <span
        {% if field.html_name == 'everything' %}x-show="everything"{% endif %}
        {% if field.html_name != 'everything' %}x-show="!everything"{% endif %}
      >
        {{ field.as_field_group }}
      </span>
    {% endfor %}

    <button x-cloak class="link toggle" @click="toggleEverything" type="button">
      …or search <span x-show="!everything">all fields</span> <span x-show="everything">Title and Author</span>
    </button>

    <label for="id_status">Status</label>
    <select name="status" id="id_status">
      {% for x, y in status_choices %}
        <option value="{{ x }}"{% if status and status.slug == x %} selected{% endif %}>{{ y }}</option>
      {% endfor %}
    </select>
  </fieldset>
  <button :class="loading ? 'loading' : ''" type="submit">Search Open Library</button>
</form>
