<form method="get" action="{% url 'open_library_search' %}" id="openLibraryForm" x-ref="openLibraryForm">
  <fieldset>
    {% for field in form %}
      {{ field.as_field_group }}
    {% endfor %}

    <label for="id_status">Status</label>
    <select name="status" id="id_status">
      {% for x, y in status_choices %}
        <option value="{{ x }}"{% if status and status.slug == x %} selected{% endif %}>{{ y }}</option>
      {% endfor %}
    </select>
  </fieldset>
  <button
    type="submit"
    x-data="{
      loading: false,
      submitForm: () => $refs.openLibraryForm.submit()
    }"
    :aria-busy="loading"
    @click.prevent="loading = true; setTimeout(submitForm, 1000)">
      Search Open Library
    </button>
</form>
