<dialog @click="closeFromEvent(event)" x-ref="statusModal_{{ book.id }}" class="modal">
  <div class="modal-box">
    <form
      id="archive-book-{{ book.pk }}"
      action="{% url 'book_archive' book.pk %}"
      method="post"
      @submit.prevent="if (confirm('Are you sure you want to archive “{{ book.title|escapejs }}?” If you want it back, you’ll need to go to the admin.')) { $el.submit() }">
        {% csrf_token %}
    </form>
    <form id="close-modal-{{ book.pk }}" method="dialog"></form>

    <header class="mb-8 pb-5 px-4 text-center -mx-6 border-b border-gray-300 dark:border-gray-700">
      <h3 class="font-bold">Adjust status for {{ book.title }}</h3>
    </header>
    <form method="post" action="{% url 'book_update' book.pk %}">
      {% csrf_token %}
      <input type="hidden" name="status_change" value="true">
      <fieldset>
        <div class="grid">
          {% for status in statuses %}
            <label class="flex items-center space-x-2">
              <input type="radio"
                     class="radio radio-primary"
                     name="status"
                     value="{{ status.0 }}"
                     {% if book.status == status.0 %}checked autofocus{% endif %}>
              <span>{{ status.1 }}</span>
            </label>
          {% endfor %}
        </div>
        {{ form }}
      </fieldset>

      <div class="modal-action items-center justify-between mt-8">
        <button aria-label="close" form="close-modal-{{ book.pk }}" class="border-b text-gray-400 border-gray-400 hover:border-gray-700 dark:hover:text-white hover:text-gray-700 dark:hover:border-white">Cancel</button>

        <div class="flex space-x-4 items-center">
          <button form="archive-book-{{ book.pk }}" class="svg archive" title="Archive this book">Archive</button>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</dialog>
