<dialog @click="closeFromEvent(event)" x-ref="statusModal_{{ book.id }}">
  <article>
    <header>
      <button aria-label="Close" rel="prev" @click="close()"></button>
      <p>
        <b>Adjust status for {{ book.title }}</b>
      </p>
    </header>
    <form method="post" action="{% url 'book_update' book.pk %}">
      {% csrf_token %}
      <input type="hidden" name="status_change" value="true">
      <fieldset>
        <div class="grid">
          {% for status in statuses %}
            <label>
              <input type="radio"
                     name="status"
                     value="{{ status.0 }}"
                     {% if book.status == status.0 %}checked autofocus{% endif %}>
              {{ status.1 }}
            </label>
          {% endfor %}
        </div>
        {{ form }}
      </fieldset>
      <button type="submit">Save</button>
    </form>

    <form class="delete" action="{% url 'book_archive' book.pk %}" method="post" @submit.prevent="if (confirm('Are you sure you want to archive “{{ book.title|escapejs }}?” If you want it back, you’ll need to go to the admin.')) { $el.submit() }">
      {% csrf_token %}
      <button class="svg archive" title="Archive this book">Archive</button>
    </form>
  </article>
</dialog>
