<dialog id="book-{{ book.id }}">
  <article>
    <header>
      <button aria-label="Close"
              rel="prev"
              onclick="document.querySelector('#book-{{ book.id }}').close()"></button>
      <p>
        <b>Adjust status for <i>{{ book.title }}</i></b>
      </p>
    </header>
    <form method="post" action="{% url 'book_update' book.slug %}">
      {% csrf_token %}
      <input type="hidden" name="status_change" value="true">
      <fieldset>
        <div class="grid">
          {% for status in statuses %}
            <label>
              <input type="radio"
                     name="status"
                     value="{{ status.0 }}"
                     {% if status.0 == book.status %}checked{% endif %}>
              {{ status.1 }}
            </label>
            {{ form }}
          {% endfor %}
        </div>
      </fieldset>
      <button type="submit">Save</button>
    </form>

    <form action="{% url 'book_archive' book.slug %}" method="post" onsubmit="return confirm('Are you sure?')">
      {% csrf_token %}
      <button class="secondary">Archive</button>
    </form>

  </article>
</dialog>
