black
boto3
celery
coverage
dj-database-url
Django
django-bleach
django-browser-reload
django-debug-toolbar
django-extensions
django-honeypot
django-htmx
django-imagekit
django-registration
django-storages
djlint
environs[django]
Faker
flake8
gunicorn
huey
ipython
markdown
model-bakery
pillow
pillow-avif-plugin
pip-lock
pip-tools
pre-commit
pytest-cov
pytest-django
pytest-xdist
pytz
requests[security]==2.31.0
sentry-sdk
whitenoise
